
<article>
	<div class="profile-inner">
		<div id="profile-picture">
			<div class="profile-gradient">
				<img src="<%- gravatar(post.email, 200) %>"/>
			</div>
		</div>
		<div id="profile-icons">
			<% if(post.linkedin){%>
			<a href="<%= post.linkedin%>" target="_blank" id="linkedin" class="icon" title="linkedin"></a>
			<% } %>
			<% if(post.facebook){%>
			<a href="<%= post.facebook%>" target="_blank" id="facebook" class="icon" title="twitch"></a>
			<% } %>
			<% if(post.github){%>
			<a href="<%= post.github%>" target="_blank" id="github" class="icon" title="github"></a>
			<% } %>
			<p>|</p>
			<% if(post.twitch){%>
				<a href="<%= post.twitch%>" target="_blank" id="twitch" class="icon" title="twitch"></a>
			<% } %>
			<% if(post.youtube){%>
				<a href="<%= post.youtube%>" target="_blank" id="youtube" class="icon" title="twitch"></a>
			<% } %>
			<p>|</p>
			<% if(post.cv){%>
			<a href="<%= post.cv%>" target="_blank" id="pdf" class="icon" title="twitch"></a>
			<% } %>
		</div>
		<div class="profile-text">
			<%- post.content %>
		</div>
	</div>
</article>
