
<article>
	<div class="profile-inner">
		<div id="profile-picture">
			<div class="profile-gradient">
				<img src="<%- gravatar(post.email, 200) %>"/>
			</div>
		</div>
		<div id="profile-icons">
			<% if(post.linkedin){%>
			<a href="<%= post.linkedin%>" target="_blank" id="linkedin" class="icon" title="linkedin"></a>
			<% } %>
			<% if(post.facebook){%>
			<a href="<%= post.facebook%>" target="_blank" id="facebook" class="icon" title="twitch"></a>
			<% } %>
			<% if(post.github){%>
			<a href="<%= post.github%>" target="_blank" id="github" class="icon" title="github"></a>
			<% } %>
			<p>|</p>
			<% if(post.twitch){%>
				<a href="<%= post.twitch%>" target="_blank" id="twitch" class="icon" title="twitch"></a>
			<% } %>
			<% if(post.youtube){%>
				<a href="<%= post.youtube%>" target="_blank" id="youtube" class="icon" title="twitch"></a>
			<% } %>
			<p>|</p>
			<% if(post.cv){%>
			<a href="<%= post.cv%>" target="_blank" id="pdf" class="icon" title="twitch"></a>
			<% } %>
		</div>
		<div class="profile-text">
			<%- post.content %>
		</div>
		<% if(post.skills){%>
		<div id="skills">
			<h1>Skills</h1>
			<% for(var topLevel = 0; topLevel < page.skills.length; topLevel++){ %>
			<h2><%= page.skills[topLevel].name%></h2>
			
			<% for(var detail = 0; detail < page.skills[topLevel].ratings.length; detail++){%>
			<p>
				
				<span class="ratting">
					<% for(var stars = 0; stars < 5; stars++){%>
					<% if(stars < parseInt(page.skills[topLevel].ratings[detail].value) ){%>
					<span class="star icon"></span>
					<%} else {%>
					<span class="star0 icon"></span>
					<%}%>
					<%}%>
				</span>
				<span class="name"><%= page.skills[topLevel].ratings[detail].name %></span>
			</p>
			<%}%>
			<% } %>
		</div>
		<%}%>
	</div>
</article>
